@font-face {
  font-family: "iconfont"; /* Project id 2770695 */
  src: url('./iconfont/iconfont.woff2?t=1630377555517') format('woff2'),
       url('./iconfont/iconfont.woff?t=1630377555517') format('woff'),
       url('./iconfont/iconfont.ttf?t=1630377555517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinaixin-fuben:before {
  content: "\e600";
}

.icon-dowm:before {
  content: "\e673";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-fanhui:before {
  content: "\e633";
}

